@page "/how to create a new customer"
<h2 style="display:flex; justify-content:center; align-items:center">Create New Customer</h2>

<div class="contentcontainer">
	<div class="content">
		<ol type="number">
			<li> <h5> Go to <b>Modules</b></h5></li>
			<img src="/1.jpg" style="border-radius:10px;width: 800px;" />
			<hr />
			<li> <h5> Select <b> Business Partner</b></h5></li>
			<hr />
			<li> <h5> Select <b> Business Partner Master Data</b></h5></li>
			<img src="/2.jpg" style="border-radius:20px; width: 800px;"/>
		</ol>
		<br />
		<h5> <i>Ensure you are in Add mode</i> </h5>
	</div>
</div>

@code {
	
}
