@page "/How to make sales order"

<h2 style="display:flex; justify-content:center; align-items:center">Make Sales Order</h2>

<div class="contentcontainer">
	<div class="content">
		<ol type="number">
			<li> <h5> Select <b>Sales A/R</b></h5></li>
			<img src="/1F.png" style="border-radius:10px;width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Select <b> Sales Order</b></h5></li>
			<img src="/2F.png" style="border-radius:10px;width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Input customer details</h5></li>
			<img src="/3.png" style="border-radius:20px; width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Input Delivery date</h5></li>
			<hr />
			<li> <h5> Select Items</h5></li>
			<img src="/4.png" style="border-radius:10px;width: 800px; margin-top:20px;" />
			<img src="/5.png" style="border-radius:10px;width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Select <b>Form Settings</b>from the Toolbar</h5></li>
			<img src="/7.png" style="border-radius:10px;width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Switch to the <b>Row Format</b> tab and confirm <b>Whse</b> is checked</h5></li>
			<img src="/9.png" style="border-radius:20px; width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5> Confirm the warehouse for each item and all other data in the table</h5></li>
			<img src="/10.png" style="border-radius:20px; width: 800px; margin-top:20px;" />
			<img src="/11.png" style="border-radius:20px; width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5>Scroll down and select <b>Sales Employee</b>. and <b>Owner</b></h5></li>
			cc
			<hr />
			<li> <h5>Add Remarks</h5></li>
			<hr />
			<li> <h5> Input Delivery date. A dialog box will pop up; select Next.</h5></li>
			<hr />
			<li> <h5> Click on the <b>Previous Document</b> button in the Toolbar </h5></li>
			<img src="/17.jpeg" style="border-radius:20px; width: 800px; margin-top:20px;" />
			<hr />
			<li> <h5>Then scroll down and copy to delivery</h5></li>
			<hr />
		</ol>
		<br />
		<h5 id="txt"> <i>Ensure you are in Add mode</i> </h5>
		<BackTo Page="Home" Route="/"></BackTo>
	</div>
</div>

@code {

}
