@page "/Qtable"

<div>
    <table class="centerize-table table table-dark">
        <thead>
            <tr>
                <th>
                    Potential Issues
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Create New Customer/Vendors</td>
            </tr>
            <tr>
                <td>Sales</td>
            </tr>
            <tr>
                <td>Generate Payments</td>
            </tr>
            <tr>
                <td>Goods Issue</td>
            </tr>
            <tr>
                <td>Goods receipts</td>
            </tr>
            <tr>
                <td>Inventory Transfer</td>
            </tr>

        </tbody>
    </table>
</div>
